<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script src="./vue.js"></script>
  <body>
    <div class="app">
      <!-- <p>姓：<input type="text" v-model="name" /></p>
      <p>名：<input type="text" v-model="namesd" /></p> -->

      <!-- <p>姓：<input type="text" v-model="name"></p>
      <p>名：<input type="text" v-model="namesd"></p> -->

      <p>姓：<input type="text" v-model="name" /></p>
      <p>名：<input type="text" v-model="namesd" /></p>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data: {
        name: "张",
        namesd: "三",
      },
      computed: {
        // 完整
        // name:{
        //     get:function(){
        //         console.log('我是被读取的');
        //         return this.name+'-'+this.namesd
        //     },
        //     set:function(val){
        //         console.log('我是被设置的');
        //         let resul =val.split('-')
        //         this.name=resul[0]
        //         this.namesd=resul[1]
        //     }
        // },
        // 简写
        //    name(){
        //        console.log('我是被读取的');
        //        return this.name+'-'+ this.namesd
        //    }

        // 完整
        // name:{
        //     get:function(){
        //         console.log('我是被读取的');
        //         return this.name+'-'+this.namesd
        //     },
        //     set:function(val){
        //         console.log('我是被设置的');
        //         let resul =val.split('-')
        //         this.name=resul[0]
        //         this.namesd=resul[1]
        //     }
        // },
        // 简写
        //    name(){
        //        console.log('我是被读取的');
        //        return this.name+'-'+ this.namesd
        //    }

        // 完整
        name: {
          get: function () {
            console.log("我是被读取的");
            return this.name + "-" + this.namesd;
          },
          set: function (val) {
            console.log("我是被设置的");
            let resul = val.split("-");
            this.name = resul[0];
            this.namesd = resul[1];
          },
        },
        // 简写
        name() {
          console.log("我是被读取的");
          return this.name + "-" + this.namesd;
        },
      },
    });
  </script>
</html>
